header {
    background-color: red;
    color: rgb(190, 190, 226);
    padding: 5px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

body {
    font-family: system-ui;
    margin: 0;
    padding: 0 10px;
}

img {
    max-width: 100%
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px;
}